.DS_Store
.svn
*~
.*.swp
.#*
*.trace
.console_history

.elixir_ls/
.vscode/
.config/nvim/bundle
.config/nvim/.netrwhist
.config/gcloud
.config/configstore
.config/base16-shell/
.config/gh
.config/hub
