[include]
  path = ~/.gitconfig.local
[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[merge]
  tool = vimdiff
[core]
  excludesfile = ~/.gitignore
  editor = nvim
  autocrlf = input
  pager = less -+F -c -+X
[apply]
  whitespace = nowarn
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%cr)%Creset
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
